.about-text-title{
    text-transform: uppercase;
    padding-right: 1rem;
    font-size: 1rem;
}

.about-text-body{
    display: inline;
    font-size: 1.35rem;
    font-weight: 600;
    line-height: 1.75rem;
}

